################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.opendb
*.db
*.suo
/ProjectAries/ProjectAries/Debug
*.filters
*.user
*.db-shm
*.db-wal
